.categories-list {
    @extend %container;
    border: 1px solid $color-main;
    background-color: $color-light;
    @include shadow;
    display: block;
    padding: 90px 60px;
	max-width: 900px;
	margin: 0 auto;
    margin-bottom: 120px;

    > h4 {
        color: $color-main;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.6rem;
    }

    > form {
        margin: 16px 0;

        > input[type="search"] {
            width: 100%;
        }
    }

    > ul {
        list-style: none;
        display: grid;
		grid-gap: 6px;
        grid-template-columns: repeat(4, 1fr);


        > li {
			font-size: 0.8rem;
			@include hover;
			color: $color-main;

            > a {
                text-decoration: none;
                text-transform: uppercase;
				color: $color-main;
            }
        }
    }
}