$form-max-width: 600px;

.wpcf7-response-output {
    max-width: $form-max-width;
    margin: 0 auto !important;
    margin-top: 16px !important;
}

.contact-form {
    max-width: $form-max-width;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 16px;

    & .form-label {
        color: $color-main;
        text-transform: uppercase;
    }

    > input[type="submit"] {
        margin: 0;
        font-size: 1em;
        color: #ffffff;
        text-transform: uppercase;
        background-color: $color-main;
        padding: 10px 15px;
        border: none;
		@include shadow;
		transition: $transition;
		cursor: pointer;

		&:focus {
			outline: 1px dotted $color-main;
			background-color: lighten($color-main, 5);
			transition: $transition;
		}

		&:hover {
			background-color: lighten($color-main, 10);
			transition: $transition;
		}
    }
}