.customers {
	@extend %container;
	padding: 100px 0;

	> h2 {
		color: $color-main;
		text-align: center;
		font-size: 2.4rem;
		line-height: 2.6rem;
		text-transform: uppercase;
	}

	> h4 {
		margin-top: 12px;
		text-align: center;
		position: relative;
		color: $color-main;
		font-size: 1.3rem;
		line-height: 1.5rem;

		&::after {
			content: '';
			display: block;
			max-width: 80px;
			height: 2px;
			background-color: $color-main;
			margin: 0 auto;
			margin-top: 4px;
		}
	}

	&__carousel {
		position: relative;
		margin-top: 32px;

		& #home-customer-prev,
		& #home-customer-next {
			position: absolute;
			top: 50%;
			z-index: 2;
			background-color: transparent;
			border: none;
			color: $color-main;
			appearance: none !important;
			font-size: 1.3rem;
			cursor: pointer;
		}

		& #home-customer-prev {
			left: 0;
			transform: translate(-130%, -50%);
		}

		& #home-customer-next {
			right: 0;
			transform: translate(130%, -50%);
		}

		& .carousel__item {

			& a {

				& figure {
					position: relative;
					overflow: hidden;

					& img {
						width: 100%;
						height: 250px;
						object-position: 50% 50%;
						object-fit: cover;
					}

					& figcaption {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						transform: translateY(100%);
						transition: $transition;
						@include glass(0.4);
						display: flex;
						flex-direction: column;
						align-items: center;
						color: $color-light;
						padding: 16px 6px;
					}
				}

				&:hover {

					& figure {

						& figcaption {
							transform: translateY(0);
							transition: $transition;
						}
					}
				}
			}
		}
	}
}