.customer-single {
	@extend %container;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 80px;
	margin-bottom: 80px;

	> img {
		@include shadow;
		width: 800px;
		height: 600px;
		margin-bottom: 30px;
		object-fit: cover;
		object-position: 50% 50%;
	}

	.btn {
		background-color: $color-light;
		border: 1px solid $color-main;
		color: $color-main;
		text-decoration: none;
		padding: 12px 16px;
		transition: $transition;
		@include shadow;

		&:hover {
			background-color: $color-main;
			color: $color-light;
			transition: $transition;
		}
	}
}